<% provide(:title, 'Slides') %>

<!--  Carousel - consult the Twitter Bootstrap docs at 
      http://twitter.github.com/bootstrap/javascript.html#carousel -->
<div id="this-carousel-id" class="carousel slide"><!-- class of slide for animation -->
  <div class="carousel-inner">
    <div class="item active"><!-- class of active since it's the first item -->
      <img src="http://3.bp.blogspot.com/-xJLx4RYeoa8/Tt6sCAwRQ4I/AAAAAAAAA4A/9nD-me9Zg7k/s640/P1080181.jpg" alt="1" />
      <div class="carousel-caption">
        <p>Caption text here</p>
      </div>
    </div>
    <div class="item">
      <img src="http://www.8wallpaper.com/newdesk/desk/1244099748112.jpg" alt="2" />
      <div class="carousel-caption">
        <p>Caption text here</p>
      </div>
    </div>
    <div class="item">
      <img src="http://artofhdr.com/wp-content/uploads/2011/03/Kauaui-beach.jpg" alt="3" />
      <div class="carousel-caption">
        <p>Caption text here</p>
      </div>
    </div>
    <div class="item">
      <img src="http://www.v3wall.com/wallpaper/1366_768/0912/1366_768_20091214014248589496.jpg" alt="4" />
      <div class="carousel-caption">
        <p>Caption text here</p>
      </div>
    </div>
  </div><!-- /.carousel-inner -->
  <!--  Next and Previous controls below
        href values must reference the id for this carousel -->
    <a class="carousel-control left" href="#this-carousel-id" data-slide="prev">&lsaquo;</a>
    <a class="carousel-control right" href="#this-carousel-id" data-slide="next">&rsaquo;</a>
</div><!-- /.carousel -->