

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


html { 
  background: url(bg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.jumbotron {
   height:450px;
   color:white;

   
}
body{
   margin-top:25;
}

/*Nav bar */
nav{
   
   height:55px;
   padding-bottom:5px 0;
   margin-top:10px;
   margin-bottom:10px;
}


.navbar .navbar-default {
   display:inline-block;
}

/*posts page */

table{
   position:relative;
   margin-top:250px;
   
}

.h1{
   margin-top:55px;
}











