<header class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
     
      <nav>
        <ul class="nav nav-tabs" role="tablist">
            <li><%= link_to "Home", root_path %></li>
            <li><%= link_to "Slides", slide_path %></li>
            <li><%= link_to "Posts", posts_path %></li>
        </ul>
        
      </nav>
      
    </div>
  </div>
</header>